# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env
.venv

# Ignore build output
dist/
build/

#database files
data/data.db

# Ignore system files
.DS_Store
Thumbs.db

old/
playground.py
data/
plots/

properties_cleaned.db